[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
httplib = "*"
urllib = "*"
time = "*"
yahoo_finance = "*"
requests = "*"
datetime = "*"
re = "*"
sys = "*"



[requires]
python_version = "3.6"
